body {
  background-color: AliceBlue;
  font-family: sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.5em;
  padding: 20px;
}

#header {
  background-color: #1E90FF;
  color: white;
  font-size: 200%;
  padding-left: 10px;
}

img {
  min-width: 400px;
}

h3 {
  background-color: #1E90FF;
  color: white;
  padding-left: 10px;
}

a {
  color: red;
}

hr {
  border-color: #1E90FF;
}

form {
  max-width: 500px;
  margin: 0 auto;
}
