body {
  background-color: AliceBlue;
  font-family: sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  background-color: #1E90FF;
  color: white;
  font-size: 400%;
  padding: 10px;
  border-radius: 25px;
}

img {
  min-width: 400px;
  max-width: 50%;
  max-height: 50%;
  border-radius: 25px;
  float: left;
  margin: 10px;
}

h3 {
  background-color: #1E90FF;
  color: white;
  padding-left: 10px;
  border-radius: 25px;
}

a {
  color: red;
}

hr {
  border-color: #1E90FF;
}

.resume {
  background-color: beige;
  border-radius: 25px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.content {
  margin: 25px;
}

li {
  padding: 5px;
}

footer {
  border: solid #1E90FF;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}
